<div class="container">
    <div class="form-group">
        <h3>Registrar estudiantes</h3>
        <form [formGroup]="formRegistrar" (ngSubmit)=registrarEstudiante()>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Identificacion" formControlName="identificacion">
                <span class="text-danger ml-2"
                    *ngIf="formRegistrar.get('identificacion')?.hasError('required') && formRegistrar.get('identificacion')?.touched">
                    La identificacion <strong>es requerida</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                <span class="text-danger ml-2"
                    *ngIf="formRegistrar.get('nombre')?.hasError('required') && formRegistrar.get('nombre')?.touched">
                    El nombre <strong>es requerido</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="number" min="0" max="5" step="0.1" class="form-control" placeholder="Nota 1" formControlName="nota1">
                <span class="text-danger ml-2"
                    *ngIf="formRegistrar.get('nota1')?.hasError('required') && formRegistrar.get('nota1')?.touched">
                    La nota 1 <strong>es requerida</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="number" min="0" max="5" step="0.1" class="form-control" placeholder="Nota 2" formControlName="nota2">
                <span class="text-danger ml-2"
                    *ngIf="formRegistrar.get('nota2')?.hasError('required') && formRegistrar.get('nota2')?.touched">
                    La nota 2 <strong>es requerida</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="number" min="0" max="5" step="0.1" class="form-control" placeholder="Nota 3" formControlName="nota3">
                <span class="text-danger ml-2"
                    *ngIf="formRegistrar.get('nota3')?.hasError('required') && formRegistrar.get('nota3')?.touched">
                    La identificacion <strong>es requerido</strong>
                </span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mr-2 btn-registrar" [disabled]="formRegistrar.invalid" type="submit">Registrar</button>
                <button class="btn btn-secondary" routerLink="/consultar">Consultar</button>
            </div>
        </form>
    </div>
</div>